.tox/
.*.sw?
/_build
/oozie/glent/coordinator-*.xml
.mypy_cache
.cache
/airflow/airflow.db
/airflow/airflow.cfg
/airflow/unittests.cfg
/airflow/logs
__pycache__
# Created by scap scripts
venv
venv.zip
.idea/
target/

# coverage files
airflow/coverage.xml
airflow/.coverage
coverage.xml
.coverage

